@font-face {
    src: url(URWGothic-Book.otf);
    font-family: URW;
}

@font-face {
    src: url(JetBrainsMono-Regular.ttf);
    font-family: JetBrainsMono;
}

:root {
    /* Light Mode Variables */
    --bg-light: white;
    --text-light: black;
    --button-light: black;
    --button-text-light: white;
    --button-icon-light: url('dark.png');
    --image-filter-light: invert(0);
    --link-light: blue;
    --link-hover-light: darkblue;
    --pre-bg-light: #f4f4f4;
    --pre-border-light: #cccccc;

    /* Dark Mode Variables */
    --bg-dark: black;
    --text-dark: white;
    --button-dark: white;
    --button-text-dark: black;
    --button-icon-dark: url('light.png');
    --image-filter-dark: invert(1);
    --link-dark: lightblue;
    --link-hover-dark: cyan;
    --pre-bg-dark: #333333;
    --pre-border-dark: #555555;

    /* Default to Light Mode */
    --bg-color: var(--bg-light);
    --text-color: var(--text-light);
    --button-color: var(--button-light);
    --button-text-color: var(--button-text-light);
    --button-icon: var(--button-icon-light);
    --image-filter: var(--image-filter-light);
    --link-color: var(--link-light);
    --link-hover-color: var(--link-hover-light);
    --pre-bg-color: var(--pre-bg-light);
    --pre-border-color: var(--pre-border-light);
    --table-border-color: var(--text-light);
}

pre {
    background-color: var(--pre-bg-color);
    border: 1px solid var(--pre-border-color);
    padding: 10px;
    overflow-x: auto;
    font-size: 14px;
}

pre.code-fence code {
    font-family: JetBrainsMono;
}

body {
    font-family: URW;
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

img {
    width: 100%;
}

img.invert {
    filter: var(--image-filter);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-color: var(--table-border-color);
}

th, td {
    border: 1px solid var(--table-border-color);
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

td img {
    width: 100%;
    height: auto;
}

#theme-toggle {
    position: fixed;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-image: var(--button-icon);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    cursor: pointer;
}

#theme-toggle:hover {
    opacity: 0.8;
}

/* Dark mode specifics */
body.dark-mode {
    --bg-color: var(--bg-dark);
    --text-color: var(--text-dark);
    --button-color: var(--button-dark);
    --button-text-color: var(--button-text-dark);
    --button-icon: var(--button-icon-dark);
    --image-filter: var(--image-filter-dark);
    --link-color: var(--link-dark);
    --link-hover-color: var(--link-hover-dark);
    --pre-bg-color: var(--pre-bg-dark);
    --pre-border-color: var(--pre-border-dark);
    --table-border-color: var(--text-dark);
}
